<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <div id="form">
    <div class="container">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-md-8 col-md-offset-2">
        <div id="userform">
            <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="active"><a href="#signup"  role="tab" data-toggle="tab">Sign up</a></li>
            <li><a href="#login"  role="tab" data-toggle="tab">Log in</a></li>
            </ul>
            <div class="tab-content">
            <div class="tab-pane fade active in" id="signup">
                <h2 class="text-uppercase text-center"> Sign Up for Free</h2>
                <form id="signup" action="/signup" method="POST">
                    {%csrf_token%}
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label><span class="req"></span> </label>
                        <input type="text" class="form-control" id="first_name" name="fname" autocomplete="off" placeholder="First Name *">
                        <p class="help-block text-danger"></p>
                        {% for message in messages %}
                        {%if message.extra_tags == 'fname'%}
                        <li>{{ message }}</li>
                        {%endif%}
                        {% endfor %}
                    </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label><span class="req"></span> </label>
                        <input type="text" class="form-control" id="last_name" name="lname" autocomplete="off" placeholder="Last Name">
                        <p class="help-block text-danger"></p>
                        {% for message in messages %}
                        {%if message.extra_tags == 'lname'%}
                        <li>{{ message }}</li>
                        {%endif%}
                        {% endfor %}
                    </div>
                    </div>
                </div>
                <div class="form-group">
                    <label><span class="req"></span> </label>
                    <input type="text" class="form-control" id="first_name" name="username" autocomplete="off" placeholder="Username*">
                    <p class="help-block text-danger"></p>
                    {% for message in messages %}
                        {%if message.extra_tags == 'username'%}
                        <li>{{ message }}</li>
                        {%endif%}
                        {% endfor %}
                </div>
                <div class="form-group">
                    <label><span class="req"></span> </label>
                    <input type="date" class="form-control" name="bdate" autocomplete="off" placeholder="Birth Date *">
                    <p class="help-block text-danger"></p>
                    {% for message in messages %}
                        {%if message.extra_tags == 'bdate'%}
                        <li>{{ message }}</li>
                        {%endif%}
                        {% endfor %}
                </div>
                <div class="form-group">
                    <label><span class="req"></span> </label>
                    <input type="email" class="form-control" id="email" name="useremail" autocomplete="off" placeholder="Email*">
                    <p class="help-block text-danger"></p>
                    {% for message in messages %}
                        {%if message.extra_tags == 'useremail'%}
                        <li>{{ message }}</li>
                        {%endif%}
                        {% endfor %}
                </div>
                <div class="form-group">
                    <label><span class="req"></span> </label>
                    <input type="password" class="form-control" id="password" name="userpass" autocomplete="off" placeholder="Password*">
                    <p class="help-block text-danger"></p>
                    {% for message in messages %}
                        {%if message.extra_tags == 'userpass'%}
                        <li>{{ message }}</li>
                        {%endif%}
                        {% endfor %}
                </div>
                <div class="form-group">
                    <label><span class="req"></span> </label>
                    <input type="password" class="form-control" id="password" name="confirmuserpass" autocomplete="off" placeholder="Confirm Password">
                    <p class="help-block text-danger"></p>
                    {% for message in messages %}
                        {%if message.extra_tags == 'confirmusername'%}
                        <li>{{ message }}</li>
                        {%endif%}
                        {% endfor %}
                </div>
                <div class="mrgn-30-top">
                    <button type="submit" class="btn btn-larger btn-block">
                    Sign up
                    </button>
                </div>
                </form>
            </div>
            <div class="tab-pane fade in" id="login">
                <h2 class="text-uppercase text-center"> Log in</h2>
                <form id="login" action="/signin" method="POST">
                    {%csrf_token%}
                <div class="form-group">
                    <label><span class="req"></span> </label>
                    <input type="email" class="form-control" id="email" name="useremail" autocomplete="off" placeholder="Email: ">
                    <p class="help-block text-danger"></p>
                    {% for message in messages %}
                        {%if message.extra_tags == 'useremail'%}
                        <li>{{ message }}</li>
                        {%endif%}
                        {% endfor %}
                </div>
                <div class="form-group">
                    <label><span class="req"></span> </label>
                    <input type="password" class="form-control" id="password" name="userpass" autocomplete="off" placeholder="Password:">
                    <p class="help-block text-danger"></p>
                    {% for message in messages %}
                        {%if message.extra_tags == 'userpass'%}
                        <li>{{ message }}</li>
                        {%endif%}
                        {% endfor %}
                </div>
                <div class="mrgn-30-top">
                    <button type="submit" class="btn btn-larger btn-block">
                    Log in
                    </button>
                </div>
                </form>
            </div>
            </div>
        </div>
        </div>
        <!-- <div style="margin-left: 4rem;">
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div> -->
    </div>
    
    <!-- /.container --> 
    </div>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>